<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.kuro.student.mapper.StudentMapper">

    <select id="selectAll" resultType="org.kuro.student.entity.Student">
        select id,
               no,
               name,
               gender,
               faculty,
               major,
               year,
               cls,
               status,
               create_time,
               update_time
        from student
    </select>

</mapper>